<h1>This is my alpha-blog about page</h1>

<p>
  <%= link_to 'Articles listing', articles_path %> | <!-- link_to helper method to return to articles listing page -->
  <%= link_to 'Home page', root_path %>
</p>